<div class="main-content">
  <div class="login">
    <div class="contenedor">
      <mat-card class="login-content">

        <div class="title-inputs">

          <div class="layout-branding">
            <a class="mci-layout-branding" href="/">
              <img
                src="../../../assets/images/mci-logo.png"
                class="mci-layout-branding-logo-expanded"
                alt="logo"
              />
              <!--      <span class="uis-layout-branding-name">UIS</span>-->
            </a>
          </div>

          <form [formGroup]="form">
            <div class="inputs">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número de documento</mat-label>
                <input matInput formControlName="document">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="username">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password">
              </mat-form-field>
            </div>
            <div class="buttons">
              <button
                mat-raised-button
                color="primary"
                class="mr-10px"
                (click)="signUp()"
              >
                Registrar
              </button>
            </div>
          </form>

        </div>
      </mat-card>
    </div>

  </div>
  <div class="image">

  </div>
</div>

