<br/>

<div class="principal-card">
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>
        MCI -
        <b>Información personal</b>
      </mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="showForm()">
      <div class="inputs">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select formControlName="idDocumentType">
            <mat-option *ngFor="let dT of documentTypes" [value]="dT.id">
              {{dT.documentName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Número de documento</mat-label>
          <input matInput formControlName="documentNumber">
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Género</mat-label>
          <mat-select formControlName="idGender">
            <mat-option *ngFor="let dT of genders" [value]="dT.id">
              {{dT.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Barrio</mat-label>
          <input matInput formControlName="neighborhood">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Número de teléfono</mat-label>
          <input matInput formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ciudad</mat-label>
          <input type="text" matInput formControlName="idCity" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
              {{option.cityStateCountry}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle formControlName="hasEncounter" color="primary">¿Ya asistió a Encuentro?</mat-slide-toggle>
        <mat-slide-toggle formControlName="wasBaptized" color="primary">¿Ya fue bautizado?</mat-slide-toggle>

      </div>
      <div class="mt-16px">
        <button
          mat-raised-button
          color="primary"
          class="mr-10px"
          type="submit"
          *ngIf="edit"
        >
          Editar
        </button>
      </div>
    </form>
    <div>
      <div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card>
</div>

