.mat-card-header{
  justify-content: center;
}

.img-principal{
  max-width: 100%;
  max-height: 420px;
}

.mat-card-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 60%));
  justify-content: center;
}

.img-principal-container{
  display: flex;
  justify-content: center;
}
