.example-container {
  width: 100%;
  height: 100%;
}

.main-content {
  padding: 20px;
}

.example-sidenav {
  min-width: 280px;
}

.layout-branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mci-layout-branding-logo-expanded {
  max-height: 150px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-tree-node > a {
  width: 100%;
  text-align: left;
  line-height: 48px;
}

.tree-node-father {
  width: 100%;
  text-align: left;
  line-height: 48px;
}

::ng-deep .mat-toolbar{
  z-index: 998;
  position: sticky;
  top: 0;
}
::ng-deep .mat-tab-group{
  margin-top:55px !important;
}

::ng-deep .mat-tab-header{
      z-index: 999;
      width:100vw;
      position: fixed !important;
      background-color: red !important;
}
::ng-deep .mat-tab-body-wrapper{
    position: relative !important;
    margin-top:55px;
}
