.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
}

.image {
  background-image: url("../../../assets/images/mci-hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  filter: brightness(75%);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  margin: 1rem 1rem;
}

.contenedor {
  max-width: 100%;
}

.inputs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  overflow: hidden;
}

.layout-branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mci-layout-branding-logo-expanded {
  max-height: 150px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
