<div class="main-content">
  <div class="login">
    <div class="contenedor">
      <mat-card class="login-content">
        <div class="title-inputs">

          <div class="layout-branding">
            <a class="mci-layout-branding" href="/">
              <img
                src="../../../assets/images/mci-logo.png"
                class="mci-layout-branding-logo-expanded"
                alt="logo"
              />
              <!--      <span class="uis-layout-branding-name">UIS</span>-->
            </a>
          </div>
          <form [formGroup]="form" (ngSubmit)="remindPassword()">
            <div class="inputs">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput placeholder="Ex. user1234" formControlName="username" maxlength="10">
                <mat-error *ngIf="form.controls.username.hasError('required')">
                  El valor de este campo no es válido.
                </mat-error>

                <mat-error *ngIf="form.controls.username.hasError('maxlength')">
                  El username no puede tener más de 10 caracteres
                </mat-error>
              </mat-form-field>
            </div>
            <br>
            <div class="buttons">
              <button
                mat-raised-button
                color="primary"
                class="mr-10px"
                type="submit"
              >
                Restablecer contraseña
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>

  </div>
  <div class="image">

  </div>
</div>
